body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 15px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 5px solid rgb(73, 73, 73);
  border-radius: 20%;
}

.game-over {
  background-color: #F05A7E;
  opacity: 0.8;
}

.red {
  background-color: #F05A7E;
}

.green {
  background-color: #96CEB4;
}

.blue {
  background-color: #7695FF;
}

.yellow {
  background-color: #FFD35A;
}

.pressed {
  box-shadow: 0 0 20px #f0f0f0;
  background-color: grey;
}
